*.pyc
.DS_Store
env
venv
.pydevproject
.project
*.egg-info/
*.db
/activate
*.err
*.log
*.pid
.settings/*
.vscode/**
.coverage
htmlcov/**
.eggs/**
.coverage.*
dump.rdb
.ipynb_checkpoints/
morphocluster/config_dev.py
environment.yml
docker-compose.yml
docker/morphocluster/authorized_keys
mprofile_*.dat
morphocluster/frontend/dist
*.code-workspace
.venv/*
data/
