html, body {
	height: 100%;
	margin: 0;
	overflow: hidden !important;
}

.tooltip kbd {
	background-color: #f7f7f9;
	color: black;
}

.info-hint {
	position: absolute;
	top: 0.5em;
	right: 1em;
	/*color: gray;*/
}

.view {
	padding: 64px 0 0 0;
}

.v-application {
	height: 100%;
}

main {
	height: calc(100% - 56px - 36px);
}

.container {
	height: 100%;
	overflow: auto;
}