html, body {
	height: 100%;
	margin: 0;
	overflow: hidden;
}

.tooltip kbd {
	background-color: #f7f7f9;
	color: #212529;
}

.info-hint {
	position: absolute;
	top: 0.5em;
	right: 1em;
	/*color: gray;*/
}

/* Dark/Light Mode */
:root {
	--background-color: white;
	--color: #212529;
}

:root.dark-mode {
	--background-color: black;
	--color: #f7f7f9;
}

body {
	color: var(--color);
	background-color: var(--background-color);
}

table, .table {
	color: var(--color);
}

.modal-dialog {
	color: black;
}