html, body {
	height: 100%;
	margin: 0;
	overflow: hidden;
}

.tooltip kbd {
	background-color: #f7f7f9;
	color: black;
}

.info-hint {
	position: absolute;
	top: 0.5em;
	right: 1em;
	/*color: gray;*/
}

nav .breadcrumb {
	margin: 0;
}