{#
	Template for the "Expert Mode".
	Changes to this file should be documented in docs/expert_mode.rst
#}
{% extends 'layouts/main.html' %}
{% block title %}MorphoCluster{% endblock %}

{% block head_last %}
<link rel="stylesheet" href="/static/jstree/themes/default/style.min.css" />
<link rel="stylesheet" href="/static/css/labeling.css" />
  <link rel="stylesheet" href="/static/jquery-ui/jquery-ui.min.css">
{% endblock %}

{% block content %}
<div id="grid">
	<div id="tree-header" class="bg-light px-1">
		 <form class="form-inline" autocomplete="off">
		 	<button type="button" class="btn btn-secondary btn-sm ml-2" id="btn-up"
				title="Go up. (U)">
				<i class="mdi mdi-chevron-up"></i>
			</button>
			
			<div class="btn-group ml-2">
			  <button type="button" class="btn btn-secondary btn-sm" id="btn-next"
				title="Go to next node (N)" data-strategy="node">
				<i class="mdi mdi-chevron-double-right"></i>
				<i class="mdi next-icon mdi-hexagon-multiple"></i>
			</button>
			  <button type="button" class="btn btn-secondary btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
			  </button>
			  <div class="dropdown-menu">
			    <a class="dropdown-item btn-next-strategy" href="#" data-strategy="leaf"><i class="mdi mdi-leaf"></i>Leaf</a>
			    <a class="dropdown-item btn-next-strategy" href="#" data-strategy="node"><i class="mdi mdi-hexagon-multiple"></i>Node</a>
			  </div>
			</div>
		</form>
	</div>
	<div id="node-header" class="bg-light px-1">
		<form class="form-inline" autocomplete="off">
			This Node:
			<button type="button" class="btn btn-secondary btn-sm ml-2" id="btn-approve"
				title="All members of this node look alike. (A)">
				<i class="mdi mdi-check-decagram"></i> Approve
			</button>
			<button type="button" class="btn btn-secondary btn-sm ml-2" id="btn-merge-into-parent"
				title="The children of this node are too diverse. Move all of them to the parent. (M)">
				<i class="mdi mdi-call-merge"></i> Merge into parent
			</button>
			<button type="button" class="btn btn-secondary btn-sm ml-2" id="btn-recommend">
				<i class="mdi mdi-comment-check-outline"></i> Recommend Members
			</button>
			<span class="ml-2 mr-2">|</span>
			Its Members:
			<button type="button" class="btn btn-secondary disabled btn-sm ml-2" id="btn-group-selected">
				<i class="mdi mdi-basket-fill"></i> Create umbrella term
			</button>
			{#<button type="button" class="btn btn-secondary btn-sm ml-2" id="btn-classify-members">
				<i class="mdi mdi-auto-fix"></i> Classify into starred members.
			</button>#}
		</form>
	</div>
	<div id="recommend-header" class="bg-light px-1">
		<form class="form-inline" autocomplete="off">
			<button type="button" class="btn btn-secondary btn-sm ml-2 mr-2" id="btn-rec-add">
				<i class="mdi mdi-check-all"></i> Add selected
			</button>
			<button type="button" class="btn btn-secondary btn-sm ml-2 mr-2" id="btn-rec-reload">
				<i class="mdi mdi-reload"></i> Reload
			</button>
			<a role="button" class="btn btn-secondary btn-sm ml-2 mr-2" href="#" target="_blank" id="btn-bisect">
				<i class="mdi mdi-arrow-split-vertical"></i> Bisect
			</a>
			{#<button type="button" class="btn btn-secondary btn-sm ml-2 mr-2 btn-rec-jump" data-npages="0">
				<i class="mdi mdi-chevron-down"></i>
			</button>
			<button type="button" class="btn btn-secondary btn-sm ml-2 mr-2 btn-rec-jump" data-npages="9">
				<i class="mdi mdi-chevron-down"></i>10
			</button>
			<button type="button" class="btn btn-secondary btn-sm ml-2 mr-2 btn-rec-jump" data-npages="49">
				<i class="mdi mdi-chevron-down"></i>50
			</button>#}
		</form>
	</div>
	
	<div id="tree-pane" class="px-1"></div>
	<div id="node-pane" class="px-1"></div>
	<div id="recommend-pane" class="px-1"></div>
	
	<div id="tree-status" class="bg-light px-1"></div>
	<div id="node-status" class="bg-light px-1"></div>
	<div id="recommend-status" class="bg-light px-1"></div>
</div>
{% endblock %}

{% block body_last %}
<div id="dialog-umbrella" style="display: none;">
<form autocomplete="off">
  <div class="form-group">
    <label for="dialog-umbrella-input-term">Umbrella term for the selected members:</label>
    <input type="text" class="form-control" id="dialog-umbrella-input-term" placeholder="Umbrella term" autocomplete="off">
  </div>
  <button type="submit" class="btn btn-primary pull-right">Submit</button>
</form>
</div>
<script src="/static/jstree/jstree.min.js"></script>
<script src="/static/js/jsrender.min.js"></script>
<script src="/static/jquery-ui/jquery-ui.min.js"></script>

<script src="/static/js/scrollIntoViewIfNeededPolyfill.js"></script>
<script src="/static/js/labeling.js" defer></script>

{% raw %}
<script type="text/html" id="node-preview-template">
<div class="card member">
	<div class="member-headline">
  		<div class="member-title"><i class="{{:icon}}"></i>{{:text}}</div>
  		<div class="member-controls"></div>
	</div>
	<div class="images img-9">
	</div>
</div>
</script>
<script type="text/html" id="obj-preview-template">
<div class="card member member-object">
	<div class="member-headline">
  		<div class="member-title" title="{{:object_id}}">{{:object_id}}</div>
		<div class="member-controls"></div>
	</div>
	<div class="images img-1">
		<img src="/get_obj_image/{{:object_id}}" class="show-tt-fullsize" />
	</div>
</div>
</script>
<script type="text/html" id="objects-children-template">
<div class="card member">
	<div class="member-headline">
  		<div class="member-title" title="{{:title}}">{{:title}}</div>
	</div>
	<div class="images img-1">
		<img src="/get_obj_image/{{:object_id}}" class="show-tt-fullsize" />
	</div>
</div>
</script>
<script type="text/html" id="node-template">
<div class="pane-header">
	<h1><i class="{{:icon}}"></i>{{:text}}</h1>
	<form id="node-userdata" autocomplete="off">
		<div class="form-group row">
			<label for="node-name" class="col-sm-1 col-form-label">Name</label>
			<div class="col-sm-11"><input name="name" id="node-name" value="{{:name}}" class="form-control" type="text" autocomplete="off" /></div>
		</div>
		<div class="form-group row">
			<label for="node-starred" class="col-sm-1 col-form-label">Starred</label>
			<div class="col-sm-11"><input name="starred" id="node-starred" class="form-check" type="checkbox" autocomplete="off" /></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-1 col-form-label"></div>
			<div class="col-sm-11"><button type="submit" class="btn btn-primary">Save</button></div>
		</div>
	</form>
	{{:n_objects_deep_txt}} objects below this node (total).
</div>
</script>
{% endraw %}

<script defer>
	$(function () {
		init_tree();
	});
</script>
{% endblock %}